* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #000; 
    color: #fff;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #f5a623; 
}

main {
    padding: 50px 20px;
    text-align: center;
}

#produtos h1,
#produtos h2 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
    font-weight: bold;
}

#produtos h2 {
    font-size: 20px;
    color: #333;
    margin-bottom: 10px;
}

.bem-vindo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin: 20px 0;
}

.produtos-container {
    display: flex;
    justify-content: center;
    gap: 20px; 
    flex-wrap: wrap;
}

.produto {
    background-color: #f7f7f7;
    border-radius: 8px;
    padding: 20px;
    width: 220px;
    text-align: center;
}

.produto img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 10px;
}

.produto p {
    font-size: 18px;
    color: #333;
    font-weight: bold;
    margin-top: 10px;
}


footer {
    background-color: #000; 
    color: #fff;
    text-align: center;
    padding: 10px;
    margin-top: 40px;
    font-size: 14px;
    font-weight: bold;
}

.marcas{
   background-color: rgb(0, 0, 0);
   width: 150px;
   height: 150px;
   border-radius: 15px;
   border: 5px ;
   padding: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   
}
.brands div:hover{
    transform: scale(1.1);
    transition: 0,5s;
}
.produtos div:hover{
    transform: scale(1.1);
    transition: 0,5s;
}
.marcas img{
    width: 135px;
    height: 135px;
    border-radius: 10px;


}
.brands {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.nuke{
    text-align: center;
    margin: 20px 0;
}